  <div class="center hero-unit">
    <h1>Otsukare Message</h1>

    
    <p>message post</p>
    <% if @message_new.msg_to.present? && @message_new.msg_to != current_user.id %>
      <%= form_for @message_new, :url => {:action => 'create'} do |form| %>
        <%= render 'shared/form' , form: form %>
	  <% end %>
	<% end %>

    <p>message detail</p>
    <ul>
    	<% @messages.each do |messages| %>
          <div>
            <li>
              from:<%= messages.msg_from %><br/>
              body:<%= messages.body %>
            </li>
          </div>
        <% end %>
    </ul>
  </div>


