  <div class="center hero-unit">
    <h1>Otsukare Message</h1>

    <p>message send</p>
    <%= form_for @message_new, :url => {:action => 'create'} do |form| %>
      <%= render 'shared/form' , form: form %>
	<% end %>

    <p>entry detail</p>
    <ul>
    	<% @entry.each do |entry| %>
          <div>
            <li>
              content:<%= entry.content %>
            </li>
          </div>
        <% end %>
    </ul>

  </div>


