  <div class="center hero-unit">
    <h1>Otsukare Message</h1>

    <p>message list</p>
    <ul>
    	<% @messages.each do |messages| %>
          <div>
            <li>
              from:<%= messages.msg_from %>/to:<%= messages.msg_to %>/user_id:<%= messages.user_id %>
			  <%= link_to(messages.msg_from, 
			  	:controller => 'messages',
			  	:action => 'detail', 
			  	:id => messages.user_id,
			  	:msg_from => messages.msg_from,
			  	:msg_to => messages.msg_to
			   ) %>
            </li>
          </div>
        <% end %>
    </ul>
  </div>


