  <div class="span9">
    <h3>メッセージ一覧</h3>

      <div>
      	<table class="table table-hover table-condensed">
	        <tr>
	        	<th style="width: 10%">送信者</th>
	        	<th style="width: 10%">送信先</th>
	        	<th style="width: 70%">内容</th>
	        	<th style="width: 10%">LINK</th>
	        </tr>
	      <% @messages.each do |messages| %>
      		<tr>
      			<td><%= get_user_name(messages.msg_from) %></td>
      			<td><%= get_user_name(messages.msg_to) %></td>
      			<td><%= messages.body %></td>
      			<td>
      				<%= link_to(messages.msg_from, 
					  	:controller => 'messages',
					  	:action => 'detail', 
					  	:link_id => messages.link_id,
					  	:reply_id => messages.reply_id
					   ) %>
		        </td>
      		</tr>
          <% end %>
      	</table>
      </div>
  </div>


