  <div class="span9">
    <h3>贈る言葉</h3>

      <div>
      	<table class="table table-hover table-condensed">
	        <tr>
	        	<th style="width: 10%">差出人</th>
	        	<th style="width: 10%">受取人</th>
	        	<th style="width: 70%">贈る言葉</th>
	        	<th style="width: 10%">LINK</th>
	        </tr>
	      <% @messages.each do |messages| %>
      		<tr>
      			<td><%= get_user_name(messages.msg_from) %></td>
      			<td><%= get_user_name(messages.msg_to) %></td>
      			<td><%= messages.body %></td>
      			<td>
      				<%= link_to(messages.msg_from, 
					  	:controller => 'messages',
					  	:action => 'detail', 
					  	:link_id => messages.link_id,
					  	:reply_id => messages.reply_id
					   ) %>
		        </td>
      		</tr>
          <% end %>
      	</table>
      </div>
  </div>


