<%= render "shared/errors", obj: @entry_new %>

  <div class="" style="width:800px">
    <%= form.text_area :content, :maxlength => "140", :style => "width:100%"  %>
    <%= form.submit "otskare" %>
  </div>
  <div class="">
  </div>

