<%= render "shared/errors", obj: @entry_new %>

  <div class="page-solid">
    <%= form.text_area :content, :maxlength => "140", :style => "width:75%"  %>
    <%= form.submit 'モヤっと', :class => "btn btn-primary"  %>
	</br></br></br>
  </div>

