@charset "utf-8";
/* CSS Document */

body {
	padding-top: 120px;
	background-color: #E2A9F3;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal;
  height: 100%;
}

body.about-page {
    padding-top:45px;
}

.subBody {
	background-color: #FFFFFF;	
  padding:10px;
}

.padding10 {
	padding-top:10px;
  padding-left:30px;
  padding-right:10px;
  padding-bottom:10px;
}

.padding20 {
	padding-top:20px;
  padding-left:30px;
  padding-right:10px;
  padding-bottom:10px;
}
