@charset "utf-8";
/* CSS Document */

body {
	padding-top: 120px;
	background-color: #E2A9F3;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal;
  height: 100%;
}

body.about-page {
    padding-top:45px;
}

.main-header {
	background-color: #610b5e;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal;
  height: 100%;
}


.subBody {
	background-color: #FFFFFF;	
  padding:10px;
}

.padding10 {
	padding-top:10px;
  padding-left:30px;
  padding-right:10px;
  padding-bottom:10px;
}

.padding20 {
	padding-top:20px;
  padding-left:30px;
  padding-right:10px;
  padding-bottom:10px;
}

.main-font {
  font-size: 14px;
  color: #E2A9F3;
}

.btn-main {
  font-size:11px;
  text-align:center;
  padding:4px 5px;
  border-radius:5px;
  background-color: #248; /* 背景色を濃い青色に指定 */
  color: #fff; /* 文字色を白色に指定 */
  border-style: none; /* ボーダーをなくす */  
  font-weight: bold; /* 文字の太さをboldに指定 */
}

.btn-main:hover {
  background-color: #24d; /* 背景色を濃い青色に指定 */
  color: #fff; /* 文字色を白色に指定 */
}