<div class="navbar navbar-fixed-top navbar-inverse topbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Otsukare", root_path, :class => 'brand' %></li>
        <!-- ログインユーザーに紐づくメッセージを表示 -->
        <li><a href="/messages/1" data-method="get" rel="nofollow" >Message</a></li>
      </ul>
      <ul class="nav pull-right">
          <li><%= link_to "ログアウト", root_path %></li>
          <li><%= link_to "サインアップ（無料）", root_path %></li>
          <li><%= link_to "サインイン", root_path %></li>
      </ul>
    </div>
  </div>
</div>

